<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="palette" name="palette" schema="schema/palette.exsd"/>
   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            class="com.sii.rental.ui.prefs.ColorPrefPage"
            id="com.sii.rental.ui.colorPrefPage"
            name="Color Preference Page">
      </page>
      <page
            class="com.sii.rental.ui.prefs.PalettePrefPage"
            id="com.sii.rental.ui.page.palette"
            name="Palettes">
      </page>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="always"
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="com.sii.rental.ui.palette">
      <palette
            id="com.sii.rental.ui.DefaultPalette"
            name="default"
            paletteClass="com.sii.rental.ui.DefaultPalette">
      </palette>
      <palette
            id="com.sii.rental.ui.URSSPalette"
            name="URSS"
            paletteClass="com.sii.rental.ui.URSSPalette">
      </palette>
   </extension>

</plugin>
